export LANG=zh_CN.UTF-8
export LANGUAGE=zh_CN:en_US
export LC_CTYPE=en_US.UTF-8
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/IMModule':<'fcitx'>}"
export XIM=fcitx
export XIM_PROGRAM=fcitx
# eval `dbus-launch --sh-syntax --exit-with-session`
exec fcitx &

# Configuration of Qt5 apps under environments other than KDE Plasma
[ "$XDG_CURRENT_DESKTOP" = "kde" ] || [ "$XDG_CURRENT_DESKTOP" = "gnome" ] || export QT_QPA_PLATFORMTHEME="qt5ct"

if [ -x /usr/bin/numlockx ]; then
      /usr/bin/numlockx on
fi
